{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Create a task</h1>
  
  <form method="POST">
    <textarea name="text" id="text" class="form-control"></textarea> <!-- "text" is our piece of data -->
    <h1 align="center">Set a deadline</h1>
    <textarea name="deadline" id="deadline" class="form-control"></textarea> <!-- "deadline" is our piece of data -->

    <br />
    <div align="center">
      <button type="submit" class="btn btn-lg btn-primary">Task</button>
    </div>
  </form>
  <br />
  <div align="center">
    <a href="/home">
      <button type="button" class="btn btn-lg btn-secondary">
          Back
      </button>
  </a>
  </div>
  {% endblock %}