{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Edit a task</h1>
    <form method="POST">
      <textarea name="text" id="text" class="form-control">{{text}}</textarea> <!-- "text" is our piece of data -->
      <br />
      <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
      </div>
    </form>
    <br />
    <div align="center">
      <a href="/home">
        <button type="button" class="btn btn-lg btn-secondary">
            Back
        </button>
    </a>
    </div>
    {% endblock %}